/* Create Record Styles */
.create-record {

  margin-top: 60px; /* ترك مسافة للهدر */
  margin-right: 250px; /* ترك مساحة للسايد بار */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px auot;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1000px;
  direction: rtl; /* لجعل النص من اليمين إلى اليسار */
  margin-top: 40px; /* ترك مسافة من الهيدر */
}

.form-row {
  display: flex; /* استخدام flexbox لتقسيم الحقول */
  justify-content: space-between; /* توزيع الحقول بالتساوي */
  margin-bottom: 5px; /* مسافة بين الصفوف */
  width: 1000px;
}

.form-group {
  flex: 1; /* تجعل كل حقل يشغل نفس المساحة */
  margin: 0 20px; /* تقليل المسافة الجانبية */
}

.create-record h2 {
  text-align: right;
  color: #333;
  
}

.create-record label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.create-record input[type="text"],
.create-record input[type="number"],
.create-record input[type="date"],
.create-record textarea{
  width: 100%; /* استخدام عرض كامل للحقل */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* حواف دائرية */
  margin-bottom: 5px;
  direction: rtl; /* اتجاه النص من اليمين إلى اليسار */
}
.create-record select {
  width: 105%; /* استخدام عرض كامل للحقل */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px; /* حواف دائرية */
  margin-bottom: 5px;
  direction: rtl; /* اتجاه النص من اليمين إلى اليسار */
}
.create-record input[type="file"],
.form-group-file input[type="file"] ,
.form-group-file label{
  width: 150%; /* استخدام عرض كامل للحقل */
  padding: 10px;
  border-radius: 20px;
  margin-right: 20px;
  direction: rtl; /* اتجاه النص من اليمين إلى اليسار */
}



.create-record input[type="file"]:focus,
.form-group-file input[type="file"]:focus {
  border-color: #007bff; /* تغيير لون الحدود عند التركيز */
  outline: none; /* إزالة التحديد الافتراضي */
}

.create-record button {
  width: 200px;
  height: 40px;
  padding: 5px;
  background-color: #2F8EA2;
  color: white;
  border: none;
  border-radius: 30px; /* حواف دائرية */
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  margin-top: 20px; /* ضبط المسافة من العناصر الأخرى */
  margin-left:20px; /* دفع الزر لليمين */
  margin-right: auto; /* توسيط الزر */
}

.create-record button:hover {
  background-color: #dce0e6;
}
