.data-table {
    width: 100%;
    margin-top: 20px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: right; /* لتنسيق النص باللغة العربية */
}

.data-table th {
    background-color: #010D17;
    color: white;
}
