

.login-container{/* Slide 16:9 - 11 */

    position: relative;
    display: flex;
    /* width: 1920px;
    height: 1080px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    }

/* نظام الصادر و الوارد */
.login-sys{
position: absolute;
left: 66.98%;
right: 14%;
top: 31.2%;
bottom: 64.72%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #000000;

}
/* يرجى ادخال معلومات الحساب لاستخدام النظام */
.login-msg{
position: absolute;
left: 50.98%;
right: 18%;
top: 40.74%;
bottom: 57.5%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
text-align: right;

color: #848484;
}



/* Rectangle 4 */
.login-inputu{
position: absolute;
width: 304px;
height: 40px;
left: 1000px;
top: 518px;
background:#E9E9E9;
border-radius: 50px;
/* اسم المستخدم */

position: absolute;
/* left: 79.27%;
right: 15.83%; */
left: 66.98%;
right: 17.6%;
top: 49.17%;
bottom: 49.07%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 19px;
text-align: right;
color: #e9e5e5;
border: none;
}

/* Rectangle 5 */
.login-inputp{
position: absolute;
width: 304px;
height: 40px;
left: 1232px;
top: 60%;
background: #E9E9E9;
border-radius: 50px;
/* كلمة المرور */
position: absolute;
/* left: 80.52%;
right: 15.83%; */
left: 66.98%;
right: 50.6%;
bottom: 41.85%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 19px;
text-align: right;

color: #e9e5e5;
border: none;

}

/* Group 35 */
.login-button{
    /* Rectangle 6 */

position: absolute;
width: 192px;
height: 40px;
left: 1338px;
top: 521px;

background: #2E8698;
border-radius: 32px;


/* تسجيل دخول */

position: absolute;
left: 70.2%;
right: 15.6%;
top: 75.87%;
bottom: 30.37%;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
border: none;

}
.img{
/* 2926635 1 */

position: absolute;
width: 590px;
height: 333px;
left: 100px;
top: 224px;

background: url('../aset/login.png');

}
.login-button:hover {
    background-color: #c8cbcf; /* Darker blue on hover */
}
.login-inputp:hover{
    background-color:#FFFFFF;
}
.login-inputu:hover{
    background-color:#FFFFFF;
}



.sss{
    background-color: #0056b3;
}
.link{
    position: absolute;
    left: 73%;
    right: 19%;
    top: 83.87%;
    bottom: 30.37%;
    direction: rtl;
    margin-right: 40px;
    font-size: larger;

}

@media (max-width: 768px) {
    .login-sys {
        font-size: 2rem; /* Smaller font size for mobile */
    }}