/* إعداد خصائص الرابط */
.sidebar ul {
  list-style-type: none; /* إزالة التنقيط */
  padding: 0; /* إزالة الحشوة التلقائية */
  margin: 0; /* إزالة الهوامش التلقائية */
}

/* إعداد خصائص الرابط */
.sidebar ul li a {
  color: rgb(17, 17, 17); /* لون الروابط */
  text-decoration: none; /* إزالة التسطير */
  padding: 10px 10px; /* حشوة للروابط */
  border-radius: 50px; /* زوايا مستديرة */
  display: block; /* يجعل الرابط ككتلة كاملة */
  transition: background-color 0.3s; /* تأثير الانتقال */
  text-align: right; /* محاذاة النص لليمين */
  font-size: smaller;
  display: flex; /* استخدام flexbox */
  align-items: center; /* محاذاة العناصر في المنتصف */
  justify-content: space-between; /* توزيع العناصر بشكل مناسب */
  margin-bottom: 10px; /* إضافة مسافة بين الروابط */
}

/* إضافة المسافة بين النص والأيقونة في الرابط */
.link-content {
  display: flex;
  justify-content: space-between; /* توزيع العناصر بشكل مناسب */
  align-items: center; /* محاذاة العناصر عمودياً */
  width: 100%; /* التأكد من أن المساحة تغطي العرض الكامل */
}

/* تحديد الأيقونة */
.sidebar .icon {
  width: 20px; /* تحديد حجم الأيقونة */
  height: 20px;
  margin-left: 10px; /* مسافة بين النص والأيقونة */
}

/* إذا كان الرابط نشطًا */
.sidebar ul li a.active {
  background-color: #9EE0EE; /* نفس لون hover */
  color: rgb(19, 17, 17); /* لون النص */
}

/* تغيير اللون عند التمرير */
.sidebar ul li a:hover {
  background-color:  #9EE0EE; /* تغيير اللون عند التمرير */
  color: rgb(19, 17, 17); /* لون النص */
}

/* التأثير على الأيقونة عند تفعيل الرابط */
.sidebar a.active .icon {
  transform: rotate(180deg); /* تدوير الأيقونة عند تفعيل الرابط */
}
